@{
    ViewBag.Title = "Index";
}


<div>Welcome to the recruit portal.</div>
<br />
<div>You can @Html.ActionLink("Login", "Login", "Registration") if you already have an account  </div>
<div>or @Html.ActionLink("Register", "Registration", "Registration") if you are new user </div>

