@{
    ViewBag.Title = "TestScore";
}
<style>
    body {
        background-image: url("http://365psd.ru/images/backgrounds/bg-light-4837.png");
        background-color: #cccccc;
    }
    /*background: rgba(150, 68, 207, 0.44) url(C:\Users\Влад\Desktop\1.jpg); /* Цвет фона и путь к файлу */ */
    /*color: #fff; /* Цвет текста */
</style>

<style>
    .jumbotron {
        background-image: url("http://365psd.ru/images/backgrounds/bg-lightl-889.jpg");
    }
</style>

<div class="jumbotron">

    <div class="container">
        <div class="col-md-4">
            <h4>Username</h4>
            <h4>Status-Redactor</h4>
        </div>
        <div class="col-md-offset-5">
            <h3>Test search</h3>
        </div>


    </div>

    <h1> </h1>
    <div class="row">
        <div class="col-sm-12">
            <input id="email" type="text" class="form-control" style="width: 100% !important; max-width: initial;" name="email" placeholder="Test name ">

        </div>


    </div>


</div>

<div class="jumbotron">

    <div class="col-md-4">
        <p><a href="~/Redaktor/CreateTest" class="btn btn-primary btn-lg btn-block">Create Test </a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/MyTests" class="btn btn-primary btn-lg btn-block">My Tests</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="~/Redaktor/TestScore" class="btn btn-primary btn-lg btn-block">Test Scores</a></p>
    </div>
    <h1> </h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h4>Select Test to rating</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-group-justified" type="button" id="menu1" data-toggle="dropdown">
                Test Number 1
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test 1 Test 1 Test 1 Test 1 Test 1 Test 1 Test 1 Test 1 Test 1 Test 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test 2 Test 2 Test 2 Test 2 Test 2 Test 2 Test 2 Test 2 Test 2 Test 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Test 3 Test 3 Test 3 Test 3 Test 3 Test 3 Test 3 Test 3 Test 3 Test 3 </a></li>


            </ul>
        </div>
    </div>

</div>
<h2> </h2>

<div class="row">
    <div class="col-md-10">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-group-justified" type="button" id="menu1" data-toggle="dropdown">
                Candidate: User 1      User Info:
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Candidate: User 1      User Info: Name Marks Tests Dates And some more info </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Candidate: User 2      User Info: Name Marks Tests Dates And some more info </a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Candidate: User 3      User Info: Name Marks Tests Dates And some more info </a></li>


            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <h5>Correct Wrong Kredits</h5>
    </div>
</div>


<h3>   </h3>
<body>
    <div class="row">
        <div class="col-md-10">
            <div class="container">

                <div class="list-group ">
                    <a href="#" class="list-group-item">First question</a>
                    <a href="#" class="list-group-item">Second question</a>
                    <a href="#" class="list-group-item">Third question</a>
                    <a href="#" class="list-group-item">Example question</a>

                </div>
            </div>
        </div>
        <div class="col-md -2">
            <div class="row">
                <h4>   </h4>
                <div class="col-md-1">

                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                </div>
                <div class="col-md-1">
                    <h5>100% </h5>
                </div>

                <h1>   </h1>
                <div class="col-md-1">

                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                </div>
                <div class="col-md-1">
                    <h5>100% </h5>
                </div>
                <h1>   </h1>
                <div class="col-md-1">

                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                </div>
                <div class="col-md-1">
                    <h5>100% </h5>
                </div>
                <h1>   </h1>
                <div class="col-md-1">

                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                    <label class="radio-inline"><input type="radio" name="optradio"> </label>
                </div>
                <div class="col-md-1">
                    <h5>100% </h5>
                </div>
                <h1>   </h1>

            </div>

        </div>
    </div>
</body>
<div class="container">

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
            40%
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p><a href="http://asp.net" class="btn btn-success btn-lg btn-block">Mark as verified</a></p>
    </div>

    <div class="col-md-3">
        <p><a href="http://asp.net" class="btn btn-success btn-lg btn-block">Send result to candidate</a></p>
    </div>

</div>
<h3>   </h3>
<p>                  </p>
